.todo-list-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  color: steelblue;
  font-weight: bold;
}

.todo-list-item .todo-list-item-label {
  cursor: pointer;
  flex-grow: 1;
}

.todo-list-item .btn {
  margin-left: 5px;
}
